:root {
  /* Set neon color */
  --neon-text-color: red;
  --neon-border-color: red;
	--clickHome-text-color:#0000e9;
	font-size:14px;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes flicker {

		0%, 100% {
				border-color:white;
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 1rem var(--neon-border-color),
            inset 0 0 1rem var(--neon-border-color),
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color);
    }

		{
				border-color:transparent;
        box-shadow: none;
    }
}

@keyframes flicker2 {

    0%, 19%, 21%, 23%, 25%, 27%, 29%, 36%, 54%, 56%, 100% {
				color:white;
        text-shadow:
            -0.1rem -0.1rem .5rem #fff,
            0.1rem 0.1rem .5rem #fff,
            0 0 1rem var(--neon-text-color),
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color);


    }

    20%, 24%, 26%, 30%, 35%, 55%{
				color:transparent;
        text-shadow: none;
    }
}

*{
  font-family: 'Rubik', sans-serif;
}

.LoginBackground {
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	display:flex;
	background:rgba(0,0,0,.75);
	z-index:3;
	align-items: center;
	justify-content: center;
	box-shadow: outset 0 10px 10px black;
}

.LoginForm h1 {

}


.LoginForm {
	display:flex;
	flex-direction:column;
	max-width:90vw;
	padding:1rem;
	text-shadow: 3px 3px 15px white,
							 -3px -3px 15px white;
  border-radius:2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 10px 40px 2px;
	background: linear-gradient(-45deg, #67cbff, #53a1c9, #215b6f, #000000);
  animation: gradient 8s ease infinite;
  background-size: 400% 400%;
}

.login-nav {
	display:flex;
	align-items:center;
	justify-content: space-between;
}

.Input {
	text-align:right;
}

.Input label {
	font-size:1.75em;
	padding:1rem;
}

.Input input::selection {
	color:white;
}

#login-logo {
	width:20rem;
	align-self:center;
}

#close-button {
	z-index: 4;
	width:4rem;
	top:0;
	right:0;
}

#close-button:hover {
	transform:scale(1.2);
	cursor:pointer;
}

#close-button:active {
	transform:scale(1);
}

#back-button {
	z-index: 4;
	width:3rem;
	height:2.5rem;
}

#back-button:hover {
	transform:scale(1.2);
	cursor:pointer;
}

#back-button:active {
	transform:scale(1);
}

#register-button {
}

#login-button {
}

.Welcome-Content {
	width:inherit;
}

.Welcome {
	margin-left:1rem;
	margin-right:1rem;
	padding-bottom:1rem;
}


.Login-Register {
	bottom:5rem;
	right:4rem;
}

.LoginForm button {
	color:white;
	width:15rem;
	height:3rem;
	margin:1rem;
  box-shadow:rgba(0, 0, 0, 0.8) 0 0 .5em;
  border:none;
  border-radius:2rem;
  background-image:linear-gradient(darkblue,blue);
}

.LoginForm button:hover{
  cursor:pointer;
	transform:scale(1.1);
  background-image:linear-gradient(cyan,blue);
}

.LoginForm button:active{
  background-image:linear-gradient(cyan,white);
	transform:scale(1);
  color:black;
}

.LoginForm input {
  color:white;
  box-shadow:rgba(0, 0, 0, 0.8) 0 0 .5em;
	width:15rem;
	height:2rem;
  border:none;
  border-radius:2rem;
  background-image:linear-gradient(darkblue,blue);
}

.LoginForm input:active {
	background-image:linear-gradient(cyan,blue);
  color:white;
}


.nav {
  position:fixed;
  top:0;
  width:100%;
  height:80px;
  color:white;
  background-image:linear-gradient(#38b6ff,orange);
  margin-bottom:10px;
  box-shadow:rgba(255, 255, 255, 0.1) 0px 2px 3px 2px;
  display:flex;
	flex-direction:row;
	justify-content: space-between;
  z-index:2;
  box-shadow: 0 5px 10px orange;
}


.logo{
  display:flex;
  max-width:200px;
}

.logo img{
  width:100%;
	position:relative;
	top:-2.5rem;
}

.logo img:hover{
	cursor:pointer;
}

.nav-message {
	height: inherit;
	max-width:30rem;
  margin: 1rem;
	top:1rem;
  display: grid;
  place-items: center;
  font: 1.5rem;
  background-color: transparent;
}

.nav-message p {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1rem;
  color: blue;
  background-color: beige;
  padding: 1rem;
  border-radius: 11px;
  position: relative;
  box-shadow: 10px 10px blue;
  border: 1px solid blue;
}
.nav-message p:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-stroke: 0.5px blue;
  -webkit-text-fill-color: beige;
  border: 1px solid blue;
  text-shadow: 4px 4px blue;
  text-align: left;
  font-size: 48px;
  width: 55px;
  height: 11px;
  line-height: 5px;
  border-radius: 11px;
  background-color: beige;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 5px 5px blue;
  z-index: -2;
}

.nav-message h2 {

}

.nav-buttons{
	display:flex;
  right:0;
	top:1rem;
  width:400px;
  height:100%;
	margin-right:1rem;
	justify-content: right;
	align-items: center;
	flex-direction:row-reverse;

}

.login-button{
  color:white;
  right:.5rem;
  top:.5rem;
  width:auto;
  height:3rem;
  display:flex;
  padding:5px;
}

.login-button button{
  padding:0px;
  color:white;
  width:7rem;
  min-height:3rem;
  background-image:linear-gradient(black 1%,blue);
  box-shadow:rgba(0, 0, 0, 0.8) 0 0 .5em;
  border-width:0;
  border-radius:2rem;
}

.login-button button:hover{
  cursor:pointer;
  background-image:linear-gradient(cyan,blue);
}

.login-button h2{
  color:white;
  font-size: 2em;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:blue;
  text-shadow:0 0 5px black;
}

.login-button:hover{
  color:white;

}

.login-button:hover button{
  cursor:pointer;
  transform:scale(1.1);
}

.login-button:active button{
  transform:scale(1);
}

.login-button:hover h2{
  color:white;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:black;
}

.location-button{
  color:white;
  right:8rem;
  top:.5rem;
  width:auto;
  height:3rem;
  display:flex;
  padding:5px;
}

.location-button button{
  padding:0px;
  color:white;
  width:7rem;
  min-height:3rem;
  background-image:linear-gradient(black 1%,blue);
  box-shadow:rgba(0, 0, 0, 0.8) 0 0 .5em;
  border-width:0;
  border-radius:2rem;
}

.location-button button:hover{
  cursor:pointer;
  background-image:linear-gradient(cyan,blue);
}

.location-button h2{
  color:white;
  font-size: 2em;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:blue;
  text-shadow:0 0 5px black;
}

.location-button:hover{
  color:white;

}

.location-button:hover button{
  cursor:pointer;
  transform:scale(1.1);
}

.location-button:active button{
  transform:scale(1);
}

.location-button:hover h2{
  color:white;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:black;
}

.favorites-button{
  color:white;
  right:15.5rem;
  top:.5rem;
  width:auto;
  height:3rem;
  display:flex;
  padding:5px;
}

.favorites-button button{
  padding:0px;
  color:white;
  width:7rem;
  min-height:3rem;
  background-image:linear-gradient(black 1%,blue);
  box-shadow:rgba(0, 0, 0, 0.8) 0 0 .5em;
  border-width:0;
  border-radius:2rem;
}

.favorites-button button:hover{
  cursor:pointer;
  background-image:linear-gradient(cyan,blue);
}

.favorites-button h2{
  color:white;
  font-size: 2em;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:blue;
  text-shadow:0 0 5px black;
}

.favorites-button:hover{
  color:white;

}

.favorites-button:hover button{
  cursor:pointer;
  transform:scale(1.1);
}

.favorites-button:active button{
  transform:scale(1);
}

.favorites-button:hover h2{
  color:white;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:black;
}

.welcome-message {
	text-shadow: 3px 3px 15px white,
							 -3px -3px 15px white;
}

.back-to-home-button{
	margin:2rem;
  color:white;
  right:15.5rem;
  top:.5rem;
  width:auto;
  height:6rem;
  display:flex;
	justify-content: center;
  padding:5px;
}

.back-to-home-button button{
	font-size:1.5rem;
  padding:0px;
  color:white;
  width:15rem;
  min-height:3rem;
  background-image:linear-gradient(black 1%,blue);
  box-shadow:rgba(0, 0, 0, 0.8) 0 0 .5em;
  border-width:0;
  border-radius:2rem;
}

.back-to-home-button button:hover{
  cursor:pointer;
  background-image:linear-gradient(cyan,blue);
	transform:scale(1.1);
}

.back-to-home-button h2{
  color:white;
  font-size: 2em;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:blue;
  text-shadow:0 0 5px black;
}

.back-to-home-button:hover{
  color:white;
}

.back-to-home-button:hover button{
  cursor:pointer;

}

.back-to-home-button:active button{
  transform:scale(1);
}

.back-to-home-button:hover h2{
  color:white;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:black;
}



.Body {
  background: linear-gradient(-45deg, #67cbff, #53a1c9, #215b6f, #000000);
  animation: gradient 8s ease infinite;
  background-size: 400% 400%;
  margin-top:80px;
  display:flex;
  width:100%;
  flex-direction:column;
  justify-content:center;
	font-family: 'Rubik', sans-serif;
}

.BodyTop{
	margin-top:1rem;
  position:relative;
  display:flex;
  flex-direction:row-reverse;
  flex-wrap:wrap;
  justify-content: space-between;
}

.Search {
  top:0;
  right:0;
  height:3rem;
  padding:10px;
  z-index:1;
}

.Search input {
  position:absolute;
  color:white;
  right:8.25rem;
	top:.5rem;
  width:15rem;
  height:2rem;
  box-shadow:rgba(0, 0, 0, 0.8) 0 0 .5em;
  border:none;
  border-radius:2rem;
  background-image:linear-gradient(darkblue,blue);
}

.Search input::selection {
	color:white;
}


.suggestions {
  position:absolute;
  padding:0;
  color:white;
  right:8.25rem;
  width:15rem;
  top:3rem;
  list-style:none;
  box-shadow:rgba(0, 0, 0, 0.8) 0 0 .5em;
  border:none;
  border-radius:2rem;
  background-image:linear-gradient(darkblue,blue);
}


.suggestion{
  width:100%;
}

.suggestions:hover{
  cursor:pointer;
}

.suggestion:hover{
  border:1px solid white;
  border-radius:2rem;
}

.suggestion:active {
  background-image:linear-gradient(lime,green);
}
.no-suggestions{
  position:absolute;
  color:white;
  right:8.25rem;
  width:15rem;
  top:3rem;
  height:2rem;
  box-shadow:rgba(0, 0, 0, 0.8) 0 0 .5em;
  border:none;
  border-radius:2rem;
  background-image:linear-gradient(darkblue,blue);
}

.Search input:focus{
  background-image:linear-gradient(cyan,blue);
  color:white;
}

.Search button{
  position:absolute;
  color:white;
  right:1rem;
  width:7rem;
	top:.5rem;
  height:2rem;
  box-shadow:rgba(0, 0, 0, 0.8) 0 0 .5em;
  border:none;
  border-radius:2rem;
  background-image:linear-gradient(darkblue,blue);
}

.Search button:hover{
  cursor:pointer;
  background-image:linear-gradient(cyan,blue);
}

.Search button:active{
  background-image:linear-gradient(cyan,white);
  color:black;
}


.BodyBottom{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  margin-left:1rem;
  margin-right:1rem;
	min-height:100vh;
}

.CurrentWeather{
  display:flex;
  position:relative;
  flex-direction:column;
  align-items:center;
  margin:1rem;
  flex-grow:1;
  max-width:800px;
  margin-top:50px;
  min-width:60%;
  border-radius:2rem;
  border-color:transparent;
}

.WeatherCard{
  width:98%;
}

.CurrentWeatherCard{
  display:flex;
  position:sticky;
  min-height:500px;
  padding:1rem;
  text-shadow:0 0 .2rem white;
  border-radius:2rem;
  background-color:transparent;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 10px 40px 2px;
	color:black;
	text-shadow: 3px 3px 15px white,
							 -3px -3px 15px white;
}

.CurrentWeatherCard:hover{
  box-shadow:
  0 0 5px #fff,
  -5px 0 20px #fff,
  5px 0 20px #fff;
}



.CurrentValues{
  width:100%;
  position:relative;
	color:black;
}

#name {
	position:absolute;
	font-size:3rem;
	left:0;
	right:0;
	top:-4.5rem;
	text-shadow: 2px 2px 5px white,
							 -2px -2px 5px white;
	color:black;
}

#sevenday {
	position:absolute;
	font-size:2.5rem;
	left:0;
	right:0;
	top:-3rem;
	text-shadow: 2px 2px 5px white,
							 -2px -2px 5px white;
	color:black;
}

#temp{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top:14.5rem;
  font-size:5rem;
}

#today{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:1.5rem;
  top:0;
  font-size:2.5rem;
}

#feelsLike{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top:21rem;
  font-size:1.5rem;
}

#info{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top:12rem;
  font-size:3rem;
}

#minMax{
  position:absolute;
  top:0;
  right:.5rem;
  font-size:2.5rem;
}

#wind{
  position:absolute;
	text-align:right;
  width:25rem;
  top:4.5rem;
  right:.5rem;
  font-size:1.5rem;
}
#humidity{
  position:absolute;
  top:7.5rem;
  right:.5rem;
  font-size:2rem;
}

#description{
  position:absolute;
  bottom:1rem;
  left:1rem;
  font-size:1.5rem;
}

#time{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  bottom:-1rem;
  font-size:1.5rem;
}

#sunrise{
  position:absolute;
  bottom:5rem;
  right:.5rem;
  font-size:1.25rem;
}

#sunset{
  position:absolute;
  bottom:1rem;
  right:.5rem;
  font-size:1.25rem;
}

#redUp{
  width:1em;
}
#blueDown{
  width:1em;
}

#sunrise_pic{
	position:absolute;
	right:6rem;
	bottom:5.7rem;
  width:2.5em;
}

#sunset_pic{
	position:absolute;
	right:6rem;
	bottom:1.5rem;
  width:2.5em;
}

#favicon{
	position:absolute;
	width:3em;
	right:0;
	top:-3em;
}

#favicon:hover{
	cursor:pointer;
	transform:scale(1.1);
}

#favicon:active{
	transform:scale(.8)
}




.LineChart{
  margin:1.5rem;
  width:98%;
  justify-content: center;
  align-items: center;
  border-radius:2rem;
  overflow-y:hidden;
  overflow-x:scroll;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 10px 40px 2px;
  background-image:linear-gradient(red,rgba(255,0,0,.7) 1%,rgba(0,0,255,.7) 99%,blue);
}

.LineChart:hover{
  box-shadow:
  0 0 5px #fff,
  -5px 0 20px #fff,
  5px 0 20px #fff;
}

.recharts-wrapper{
  top:1rem;
  left:0;
  margin:1rem;
	text-shadow: 3px 3px 12px white,
							 -3px -3px 12px white;
}

.recharts-surface{
}

.Alerts{
	display:flex;
	width:100%;
	flex-direction:column;
	justify-content: center;
	font-family: 'Open Sans Condensed', sans-serif;
	position:sticky;
  padding:1rem;
  border-radius:2rem;
  background-color:transparent;
}

.Alert{
	display:flex;
	position:relative;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 10px 40px 2px;
	border-radius:2rem;
	margin-bottom:3rem;
	background-color:#2b1cb4;
}

.Alert:hover {
  box-shadow:
  0 0 5px red,
  -5px 0 20px red,
  5px 0 20px red,
	inset 0 0 5px red,
	inset -5px 0 20px red,
	inset 5px 0 20px red;
}

.no-Alert{
}


.alert-element{
	display:flex;
	flex-direction:column;
	padding-bottom:1rem;
	width:100%;
	align-items: center;
	border: 0.4rem solid #fff;
	border-radius: 2rem;
	animation: flicker 1.5s infinite alternate;
}

.alert-values{
	display:flex;
	padding:2rem;
	flex-direction:column;
	align-items: center;
	color:white;
}

.alert-times{
	display:relative;
}

#heading{
	color:red;
	font-size:2.5rem;
	text-decoration:underline;
}


#alert-neon {
	padding-top:1rem;
  font-size: 4rem;
  font-weight: 200;
	font-family:'Orbitron', sans-serif;
  color: #fff;
	animation: flicker2 1.5s infinite alternate;
}

#event{
	color:white;
	text-shadow:
			-0.1rem -0.1rem .5rem #fff,
			0.1rem 0.1rem .5rem #fff,
			0 0 1rem var(--neon-text-color),
			0 0 2rem var(--neon-text-color),
			0 0 3rem var(--neon-text-color);
}

#sender{
	padding-top:1rem;
}

#sender span{
	color:red;
	font-weight: bold;
	text-shadow: 0 0 1px red;
	text-decoration:underline;
	font-size: 1.4rem;
}

#descriptiona{
	text-align:left;
	line-height:1.5rem;
}

#starts{
	position:absolute;
	color:white;
	left:3.5rem;
	top:3.5rem;
	margin:0;
	padding:1rem;
	background-color:transparent;
}

#starts span {
	font-size:1.5rem;
	font-family:'Orbitron',sans-serif;
	animation:flicker2 1.5s infinite alternate;
}

#ends{
	position:absolute;
	color:white;
	right:3.5rem;
	top:3.5rem;
	padding:1rem;
	background-color:transparent;

}

#ends span {
	font-size:1.5rem;
	font-family:'Orbitron',sans-serif;
	animation:flicker2 1.5s infinite alternate;
}

#tags{

}
.Forecast{
  display:flex;
	position:relative;
	justify-content: center;
  color:white;
  flex-grow:1;
	margin:1rem;
  margin-top:50px;
}

.ForecastList{
  display:flex;
  flex-grow:1;
  flex-wrap:wrap;
  flex-direction:column;
}


.Card{
  display:flex;
	min-height:250px;
  flex-grow:1;
  padding:1rem;
  margin-bottom:1rem;
  border-radius:2rem;
  text-shadow:0 0 .2rem white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.Card:hover{
  box-shadow:
  0 0 5px #fff,
  -5px 0 20px #fff,
  5px 0 20px #fff;
}


.ForecastValues{
  position:relative;
  width:100%;
	text-shadow: 5px 5px 15px white,
							 -5px -5px 15px white;
	color:black;

}

#nameF{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top:.5vw;
  font-size:2.5em;
}

#descriptionF{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  top:0;
  bottom:1rem;
}

#maxTempF{
  position:absolute;
  width:45px;
  right:1rem;
  top:2rem;
  font-size:2rem;
}

#maxTempArrow{
  position:absolute;
  left:-2rem;
  top:.6rem;
  width:1em;
}

#minTempF{
  position:absolute;
  width:45px;
  right:1rem;
  top:5rem;
  font-size:2rem;
}

#minTempArrow{
  position:absolute;
  left:-2rem;
  top:.6rem;
  width:1em;
}

#feelsLikeF{
  position:absolute;
  bottom:-1rem;
}

#sunriseF{
  position:absolute;
  bottom:-1rem;
  left:27%;
}

#dayF{
  position:absolute;
  bottom:-1rem;
  left:47%;
}

#sunsetF{
  position:absolute;
  bottom:-1rem;
  left:67%;
}

#nightF{
  position:absolute;
  bottom:-1rem;
  left:87%;
}

#sunriseForecast{
  position:absolute;
	left:-2.35rem;
  width:2em;
}

#sunsetForecast{
  position:absolute;
	left:-2.35rem;
  width:2em;
}

#dayForecast{
  position:absolute;
	left:-2.9rem;
	bottom:-1rem;
  width:3em;
}

#nightForecast{
  position:absolute;
	left:-2.35rem;
  width:2em;
}

#timeF{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top:3.5rem;

}

.Favorites {
  display:flex;
  position:relative;
  flex-direction:column;
  align-items:center;
  margin:1rem;
  flex-grow:1;
  min-width:60%;
  border-radius:2rem;
  border-color:transparent;
}

.FavoritesList {
	display:flex;
	flex-wrap:wrap;
	width:100rem;
	justify-content: center;
}

.FavoritesCard {
	display:flex;
	min-height:20rem;
	width:30rem;
  padding:1rem;
  margin:1rem;
  border-radius:2rem;
  text-shadow:0 0 .2rem white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	text-shadow: 5px 5px 15px white,
							 -5px -5px 15px white;
}


.FavoritesCard:hover{
	cursor:pointer;
  box-shadow:
  0 0 5px #fff,
  -5px 0 20px #fff,
  5px 0 20px #fff;
}

.FavoritesCard:active{
	transform:scale(.95)
}

.FavoriteValues {
	position:relative;
  width:100%;
	text-shadow: 3px 3px 10px white,
							 -3px -3px 10px white;
	color:black;
}

#favName {
	position:absolute;
	font-size:2rem;
	left:0;
	right:0;
	top:2rem;
}

#favTemp {
	position:absolute;
	font-size:2.5rem;
	top:40%;
	left:0;
	right:0;

}

#favDescription0 {
	position:absolute;
	font-size:1.2rem;
}

#favDescription1 {
	position:absolute;
	top:1.2rem;
	font-size:1.2rem;
}

#favDescription2 {
	position:absolute;
	top:2.4rem;
	font-size:1.2rem;
}

#favSunrise {
	font-size:1.2rem;
	position:absolute;
	bottom:1rem;
	right:.5rem;
}

#favSunrisePic {
	width:2rem;
	position:absolute;
	bottom:2rem;
	right:6rem;
}

#favSunset {
	font-size:1.2rem;
	position:absolute;
	bottom:-1.5rem;
	right:.5rem;
}

#favSunsetPic {
	width:2rem;
	position:absolute;
	bottom:-.75rem;
	right:6rem;

}



@media screen and (max-width:400px){
	:root {
		font-size:10px;
	}

	.logo{
		width:150px;
	}
	.logo img {
		top:-2.5rem;
	}
	.nav-buttons {
		width:200px;
	}

	.LoginForm button {
		width:10rem;
	}

	.CurrentWeather{
		margin:0;
		margin-top:3.5rem;
	}

	.CurrentWeatherCard{
		min-height:400px;
	}

	.LineChart{
		height:400px;
	}

	.Card {
		min-height:175px;

	}

	#starts{
		left:0;
		font-size:.8rem;
	}
	#starts span{
		font-size:1rem;
	}
	#ends{
		right:0;
		font-size:.8rem;
	}
	#ends span{
		font-size:1rem;
	}
	.recharts-wrapper{
		left:-3rem;
	}

}
